*,
*:before,
*:after {
	box-sizing: border-box;
}

/* ::selection {
	background: c(main1);
	color: c(white);
} */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
	// Sets base font size to a percantage which equates to 15px. Assumes browser default will be 16px.
	font-size: #{ (100 / 16) * $base-font-size }%;
	@include ff(body);
	color: c(grey);
	background: #fafafa;
}
body {
	position: relative;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;

	@include bp(xs){
		&.primary-nav-open {
			overflow: hidden;
		}
	}
}

ol {
	padding-left: 21px;
}

ul {
	list-style-type: disc;
}

a {
	color: c(main1);
	text-decoration: underline;

	&:hover,
	&:focus {
		text-decoration: none;
		color: c(main1);
	}
	img {
		border: none;
	}
}

table {
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid c(black);
	padding: 12px 9px;
}

th {
	background: c(grey);
	color: c(white);
}


/*
	Headings
 */
h1,
.h1 {
	@include rem(font-size, 38);
	font-weight: 700;
	@include ff(heading);
}

h2,
.h2 {
	@include rem(font-size, 30);
	font-weight: 700;
	@include ff(heading);
}
h3,
.h3 {
   @include rem(font-size, 26);
   font-weight: 700;
	@include ff(heading);
}

h4,
.h4 {
   @include rem(font-size, 22);
   font-weight: 700;
	@include ff(heading);
}
h5,
.h5 {
   @include rem(font-size, 18);
   font-weight: 700;
	@include ff(heading);
}

h6,
.h6 {
   @include rem(font-size, 16);
   font-weight: 700;
	@include ff(heading);
}



/*
	Forms
 */
%text-input-styles {
	border: 1px solid c(grey, 200);
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(c(black),0.1), 0 0 2px transparent;
	background: c(white);
	@include rem(padding, 7 10);
	@include rem(min-height, 36);
	width: 100%;
	@include trans;
	@include ff(body);

	&:focus {
		outline: none;
		border-color: c(main1);
		box-shadow: inset 0 1px 1px transparent, 0 0 3px rgba(c(black),0.3);
		position: relative;
	}
}
[type="text"] {
	@extend %text-input-styles;
}
[type="search"] {
	@extend %text-input-styles;
}
textarea {
	@extend %text-input-styles;
}
select {
	@extend %text-input-styles;
}

.form-row {
	@include rem(margin, 10 0);
}

/*
	btns
 */
.btn {
	display: inline-block;
	background: c(main1);
	border: 1px solid c(main1);
	color: c(grey);
	border-radius: 2px;
	text-decoration: none;
	@include rem(font-size, 18);
	@include rem(padding, 10 20);
	cursor: pointer;
	@include trans;

	&:hover,
	&:focus {
		color: c(white);
		border-color: c(main1, dark);
		background: c(main1, dark);
	}

	&-lg {
		@include rem(font-size, 22);
		@include rem(padding, 15 40);
		@include bp(xs){
			@include rem(font-size, 20);
		}
	}

	&-theme {
		&-1 {
			color: c(white);
			background: c(main2);
			border-color: c(main2);
			&:hover,
			&:focus {
				color: c(grey, 30);
				background: c(main2, dark);
				border-color: c(main2, dark);
			}
		}
	}
}


/*
	Common base styles
 */

.container {
	@include cf;
	@include container;

	&.no-padding {
		padding-right: 0;
		padding-left: 0;
	}
}

.page-viewport {
	height: 100%;
	backface-visibility: hidden;
	transform: translate3d(0,0,0);
	overflow-x: hidden;
	// @include trans(.6s);

	@include bp(xs){
		.primary-nav-open & {
			overflow-x: visible;
		}
	}
}

.site-header {
	background: c(main1);
	background: linear-gradient(to bottom, c(main1), c(main1,dark));
	color: c(white);

	&_main {
		@include container(0);
		@include rem(padding, $container-gutter);

		&-left {
			display: flex;
			align-items: center;
		}

		@include bp(sm){
			display: flex;
			align-items: center;

			&-left {
				flex: auto;
			}
			&-right {
				text-align: right;
			}

			.no-flexbox & {
				display: table;
				&-left,
				&-right {
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
		@include bp(xs){
			&-left {
				padding-right: 85px;
			}
		}
	}

	&_logo {
		display: inline-block;
		vertical-align: middle;
		height: auto;
		width: 126px;

		&-link {
			display: inline-block;
			vertical-align: middle;
		}
	}

	&_title {
		flex: auto;
		margin: 0;
		padding: 0 15px;
		@include ff(title);
		color: c(grey,30);
		line-height: 1;
		user-select: none;
		cursor: default;
		@include rem(font-size, 50);

		@include bp(xs){
			@include rem(font-size, 25);
		}
	}

	&_search {
		display: inline-flex;
		vertical-align: top;
		height: 45px;
		&-input {
			border: 1px solid c(main1, x-dark);
			border-right-width: 0;
			border-radius: 5px 0 0 5px;
			box-shadow: 0 0 15px transparent;
			@include rem(padding-left, 15);
			@include rem(font-size, 15);
			@include trans;
			&:focus {
				border-color: c(grey, 30);
				box-shadow: 0 0 15px rgba(c(black),0.3);
			}
		}
		&-btn {
			background: c(grey);
			padding: 0;
			width: 62px;
			@include rem(font-size, 18);
			color: c(white);
			cursor: pointer;
			border: 1px solid transparent;
			border-left-color: c(grey,200);
			border-radius: 0 5px 5px 0;
			@include trans;
			&:focus {
				outline: none;
				box-shadow: 0 0 15px rgba(c(black),0.3);
			}
			&:focus,
			&:hover {
				background: c(black);
			}
		}
		.no-flexbox & {
			display: inline-table;
			&-input,
			&-btn {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}

	&_menu-mob {
		position: absolute;
		margin: 0;
		padding: 0;
		@include rem(right, $container-gutter);
		@include rem(top, 35);

		&-search,
		&-nav {
			background: c(grey);
			border: 1px solid c(grey,30);
			border-radius: 3px;
			color: c(white);
			@include rem(font-size, 16);
			@include rem(padding, 10 12);
			cursor: pointer;
			@include trans;
			&:focus {
				outline: none;
				box-shadow: 0 0 15px rgba(c(black),0.3);
			}
			&:focus,
			&:hover {
				background: c(black);
			}
		}
		&-nav {
			.primary-nav-open & {
				position: relative;
				z-index: z(primaryNav);
			}
		}
		@include bp(sm){
			display: none;
		}

	}

	a {
		color: c(white);
	}

	@include bp(xs){

		&_logo {
			width: 80px;
		}

		&_search {
			display: flex;
			height: auto;
			@include rem(padding, $container-gutter);

			&-wrap {
				@include rem(margin, $container-gutter (-$container-gutter) (-$container-gutter) );
				background: c(main1,dark);
				overflow: hidden;
			}

			&-input {
				flex: 1;
			}
		}

	}
}

.primary-nav {
	background: c(grey);
	background: linear-gradient(to bottom, c(grey) 0%, c(grey) 50%, darken(c(grey),3%) 50%, c(grey) 100%);

	&:focus {
		outline: none;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		padding: 0;
		margin: 0;
	}
	li,
	a {
		display: inline-block;
		vertical-align: top;
	}
	a {
		text-decoration: none;
		color: c(white);
		position: relative;
		overflow: hidden;
		@include rem(padding, 10 $container-gutter);
		@include trans;

		&:before {
			content: ' ';
			position: absolute;
			top: -100%;
			left: 0;
			height: 100%;
			width: 100%;
			background: c(grey, 10);
			background: rgba(c(black), 0.75);
			@include trans();
		}

		&:hover,
		&:focus {

			&:before {
				transform: translateY(100%);
			}
		}
		&:focus {
			outline: none;
		}
	}

	> ul {
		@include container;
	}

	@include bp(xs){
		position: absolute;
		top: 0;
		left: 100%;
		height: 100%;
		width: 70%;
		z-index: z(primaryNav);
		background: c(main1);
		border-left: 1px solid c(main1,x-dark);
		.primary-nav-open & {
			box-shadow: 0 0 20px rgba(c(black),.5);
		}
		ul {
			padding: 0;
		}
		li,
		a {
			display: block;
		}
		li {
			border-bottom: 1px solid rgba(c(grey),.5);
		}
		a {
			@include rem(padding, $container-gutter);
			color: c(grey, 30);

			&:before {
				display: none;
			}

			&:hover,
			&:focus {
				background: c(main1, dark);

				.link-wrap {
					transform: translateX(2px);
				}
			}
		}
		.link-wrap {
			display: block;
			@include trans;
		}

		.active {
			> a {
				background: c(grey, 10);
				color: c(main1);

				&:hover,
				&:focus {
					background: c(grey, 10);

					.link-wrap {
						transform: none;
					}
				}
			}
		}
	}

	@include bp(sm){
		.link-wrap {
			position: relative;
			z-index: 2;
			display: inline-block;
			vertical-align: top;
			padding: 3px 1px;
			border-bottom: 2px solid transparent;
		}
		> ul {
			display: flex;
			align-items: stretch;
			align-content: stretch;
			justify-content: space-between;
			// padding: 0 0 4px;
			> li {
				display: flex;
				align-items: stretch;
				flex-grow: 1;
				position: relative;
				+ li {
					&:before {
						content: ' ';
						position: absolute;
						left: -1px;
						top: 0;
						bottom: 0;
						width: 1px;
						background: rgba(c(grey,230), 0.4);
						background: linear-gradient(to bottom, rgba(c(grey,230), 0) 0%, rgba(c(grey,230), 0.3) 25%, rgba(c(grey,230), 0.3) 75%, rgba(c(grey,230), 0) 100%);
					}
				}
				> a {
					display: flex;
					align-items: center;
					flex-grow: 1;
					text-align: center;
					justify-content: center;
				}
			}
			> .active {
				> a {
					background: c(main1);
					color: c(black);
					font-weight: 700;
					&:before {
						display: none;
					}
					.link-wrap {
						border-bottom-color: c(black);
					}
				}
			}
		}
	}
}

.nav-close-mob {
	opacity: 0;
	position: absolute;
	z-index: z(hidden);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(c(black), .5);
	border: 0 solid transparent;
	padding: 0;
	cursor: default;
	@include trans(.3s, opacity);

	&:focus {
		outline: none;
	}

	.no-opacity & {
		background: transparent;
	}

	.primary-nav-open & {
		opacity: 1;
		z-index: z(primaryNavClose);
		height: 200%;
		cursor: pointer;
	}
}

.skip-links {
	position: absolute;
	top: 0;
	left: 0;

	a {
		position: fixed;
		bottom: 100%;
		background: c(white);
		border: 1px solid c(grey);
		border-top-width: 0;
		color: c(main1);
		border-radius: 0 0 3px 3px;
		box-shadow: 0 0 20px -5px transparent;
		margin-top: 0;
		@include rem(left, 10);
		@include rem(padding, 12 15);
		@include trans;

		&:focus {
			@include rem(margin-top, 10);
			box-shadow: 0 0 20px 0 c(black);
			transform: translateY(100%)
		}
	}
}



.site-footer {
	background: c(grey);
	color: c(white);
	padding: 0 0 15px;
	margin: 20px 0 0;

	&_sponsors {
		background: c(grey, 230);
		padding: 30px 0 15px;
		margin: 0 0 20px;
		text-align: center;

		img {
			margin: 0 20px 15px;
			filter: grayscale(1);
			cursor: pointer;
			@include trans;

			&:hover {
				filter: grayscale(0);
			}
		}
	}

	&_main {
		text-align: center;
		color: c(grey, 230);
		@include rem(font-size, 13);

		a {
			color: c(grey, 230);
		}

		.copyright {}
	}

	&_logo-wrap {
		position: relative;
		margin: 0 0 20px;

		&:before {
			content: ' ';
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			height: 1px;
			background: rgba(c(white), 0.5);
			background: linear-gradient(to left, transparent 0%, rgba(c(white),0.5) 10%,  rgba(c(white),0.5) 90%, transparent 100%)
		}
	}
	&_logo {
		margin: 0 auto;
		max-width: 110px;
		height: auto;
		padding: 0 20px;
		background: c(grey);
		position: relative;
		z-index: 2;

		img {
			opacity: 0.7;
		}
	}
}




/*
	Pods
*/
.pod-row {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.pod {
	flex: 1;
	margin: 0 0 20px;
	background: c(grey, 230);

	&_title {
		background: c(grey);
		color: c(white);
		margin: 0;
		padding: 10px 15px;
		@include ff(heading);
		@include rem(font-size, 18px);
	}

	&_body {
		padding: 10px 15px;
	}

	+ .pod {
		margin-left: 20px;
	}
}



/*
	News list items
 */
.news-list {}
.news-filter {}
.news-item {
	margin: -1px 0;
	padding: 10px;
	background: c(grey, 240);
	border: 1px solid transparent;
	border-top-color: c(grey, 200);
	border-bottom-color: c(grey, 200);
	color: c(grey);
	text-decoration: none;
	cursor: pointer;
	box-shadow: 0 0 14px 0 transparent;
	position: relative;
	@include trans;

	&:nth-child(2n+1) {
		background: c(grey, 245);
	}

	&:hover,
	&:focus {
		background: c(main1);
		color: c(grey, 30);
		box-shadow: 0 0 4px 0px rgba(c(black), 0.3);
		border-color: c(main1, dark);
		position: relative;
		z-index: 5;
		.news-item_img-container {
			&:after {
				box-shadow: inset 0 0 0 10px rgba(c(black), 0.25);
			}
		}
		.news-item_img {
			transform: scale(1.05);
		}
	}

	&_img-container {
		background-color: c(grey);
		width: 320px;
		height: 200px;
		position: relative;
		overflow: hidden;

		&:after {
			content: ' ';
			position: absolute;
			z-index: 5;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			box-shadow: inset 0 0 0 10px transparent;
			@include trans;
		}
	}

	&_img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-size: cover;
		@include trans;
	}

	&_title {
		@include rem(font-size, 20);
		@include ff(body);
		font-weight: 700;
		margin: 10px 0;
	}

	&_date {
		color: c(grey, 100);
	}

	@include bp(sm) {
		display: flex;

		&_content {
			flex: 1;
			padding: 0 0 0 15px;
		}
	}

	@include bp(xs) {
		display: block;

		&_img-container {
			width: auto;
			height: auto;
			padding-bottom: 50%;
		}

		&_content {
			padding-bottom: 30px;
		}
	}
}




/*
	Fixtures & Results list
 */
.fixtures-list {

	&_row {
		background: c(grey, 245);
		position: relative;

		&:before,
		&:after {
			content: ' ';
			position: absolute;
			z-index: 1;
			left: 0;
			right: 0;
			height: 1px;
			background: linear-gradient(to right, transparent 0%, c(grey, 200) 10%, c(grey, 200) 90%, transparent 100%);
		}
		&:before {
			top: -1px;
		}
		&:after {
			bottom: -1px;
		}

		&:nth-child(2n+1) {
			background: c(grey, 235);
		}
		+ .fixtures-list_row {
			&:before {
				display: none;
			}
		}
	}

	* {
		vertical-align: middle;
	}

	.col {
		border: none;
		padding: 12px 15px;
	}

	.col-match {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 5;
		text-align: center;
		padding: 0;
	}

	.col-when {
		flex: 1;
		text-align: left;
		white-space: nowrap;
		@include rem(font-size, 13);

		&_date,
		&_time {
			display: block;
			text-align: left;
		}
		&_time {
			margin: 4px 0 0;
		}
	}
	.col-team {
		@include rem(font-size, 18);
		line-height: 1.1;
		display: flex;
		align-items: center;
		flex: 4;

		&_crest {
			display: inline-block;
			width: 50px;
			height: 50px;

			img {
				max-width: 50px;
				max-height: 50px;
			}
		}

		&.-home {
			text-align: right;
		}

		&.-away {
			text-align: left;
		}

		.home-team {
			position: relative;
			text-align: right;
			padding-left: 10px;
			flex: 1;
		}


		.away-team {
			text-align: left;
			padding-right: 10px;
			flex: 1;
		}
	}
	.col-scores {
		flex: 1;
		padding: 10px 0;
		@include rem(font-size, 24);
		text-align: center;
		white-space: nowrap;

		.score {
			padding: 0;
		}
		.separator {
			display: inline-block;
			padding: 0 4px;
			@include rem(font-size, 12);
		}
	}
	.col-versus {
		flex: 1;
		padding: 10px 0;
		@include rem(font-size, 24);
		text-align: center;
		white-space: nowrap;
	}
	.col-ctas {
		flex: 1;
		text-align: right;

		.cta {
			display: inline-block;
			padding: 12px 15px;
			color: c(grey);
			border: 1px solid rgba(c(grey), 0.1);
			text-decoration: none;
			white-space: nowrap;
			border-radius: 3px;
			@include trans;

			&:after {
				@include fa-icon;
				content: $fa-var-angle-double-right;
				margin: 0 0 0 6px;
				@include trans(.3s, transform);
			}

			&:hover,
			&:focus {
				background: c(grey);
				color: c(main1);

				&:after {
					transform: translateX(4px);
				}
			}
		}
	}

	@include bp(md) {

		&_row {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	@include bp(sm-max) {
		&_row {
			padding: 10px 0;
		}

		.col-when {
			&_date,
			&_time {
				text-align: center;
			}
		}
		.col-ctas {
			text-align: center;
		}
	}
}



.map-embed {
	position: relative;
	padding-bottom: 50%;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


/*
	Helper classes
 */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
