footer.site-footer

	aside.site-footer_sponsors
		.container
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_45_partnerlogo_partner_footer.png", alt="Standard Chartered")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_46_partnerlogo_partner_footer.png", alt="New Balance")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_49_partnerlogo_partner_footer.png", alt="Garuda Indonesia")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_50_partnerlogo_partner_footer.png", alt="Carlsberg")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/13/thumb_12993_partnerlogo_partner_footer.png", alt="Vitality")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_52_partnerlogo_partner_footer.png", alt="Jack Wolfskin")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_53_partnerlogo_partner_footer.png", alt="Dunkin Donuts")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_54_partnerlogo_partner_footer.png", alt="Vauxhaul")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_55_partnerlogo_partner_footer.png", alt="Subway")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_56_partnerlogo_partner_footer.png", alt="Nivea")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_57_partnerlogo_partner_footer.png", alt="Sky Sports")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_58_partnerlogo_partner_footer.png", alt="Gatorade")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/13/thumb_12624_partnerlogo_partner_footer.png", alt="Banc de Binary")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_59_partnerlogo_partner_footer.png", alt="MBNA")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_61_partnerlogo_partner_footer.png", alt="Maxxis")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_62_partnerlogo_partner_footer.png", alt="Barbados")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_63_partnerlogo_partner_footer.png", alt="EA Sports")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_64_partnerlogo_partner_footer.png", alt="Konica Minolta")
			img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/12/thumb_11874_partnerlogo_partner_footer.png", alt="Claymore Wines")

	.container
		.site-footer_logo-wrap
			.site-footer_logo
				img(src="images/logo-fusc-white.svg")

		.site-footer_main
			p.copyright © Copyright 2015 Forrestfield United Soccer Club