footer.site-footer

	aside.site-footer_sponsors
		.container
			a(title='ACS Fabrication', target='_new', href='http://www.acsfabrication.com.au')
					img(alt='ACS Fabrication', src='images/sponsors/acs.png')
			a(title='Caledonia Scaffolding', target='_new', href='http://www.caledoniascaffolding.com.au/')
					img(alt='Caledonia Scaffolding', src='images/sponsors/caledonia-scaffolding.svg')
			a(title='Carlton United Breweries', target='_new', href='http://cub.com.au/')
					img(alt='Carlton United Breweries', src='images/sponsors/cub.png')
			a(title='Department of Sport & Rec', target='_new', href='http://www.dsr.wa.gov.au/')
					img(alt='Department of Sport & Rec', src='images/sponsors/dsr.png')
			a(title='Healthway | Healthy Club', target='_new', href='https://www.healthway.wa.gov.au/healthy-club/')
					img(alt='Healthway | Healthy Club', src='images/sponsors/healthway.svg')
			a(title='Hills Massage', target='_new', href='http://www.hillsmassage.com.au/')
					img(alt='Hills Massage', src='images/sponsors/hills-massage.png')
			a(title='Jayde Transport', target='_new', href='http://www.jayde.com.au/')
					img(alt='Jayde Transport', src='images/sponsors/jayde-transport.png')
			a(title='Kalamunda Toyota', target='_new', href='http://www.kalamundatoyota.com.au')
					img(alt='Kalamunda Toyota', src='images/sponsors/kalamunda-toyota.png')
			a(title='Kelme', target='_new', href='http://www.kelme.com.au/')
					img(alt='Kelme', src='images/sponsors/kelme.svg')
			a(title='Lawsons Commercial Flooring', target='_new', href='http://lawsonscf.com.au/')
					img(alt='Lawsons Commercial Flooring', src='images/sponsors/lawsons-commercial-flooring.png')
			//- a(title='Lawsosn Group', target='_new', href='http://www.lawsongroup.com.au/')
			//- 		img(alt='Lawsosn Group', src='images/sponsors/lawsons-group.png')
			a(title='Marilyn Way | Professionals', target='_new', href='http://www.stirlingclark.com.au/real-estate/profile/116790/marilyn-way/')
					img(alt='Marilyn Way | Professionals', src='images/sponsors/professionals.jpg')
			a(title='Masonmill Restaurant', target='_new', href='http://www.masonmillgardens.com.au/')
					img(alt='Masonmill Restaurant', src='images/sponsors/masnonmill.png')
			a(title='Mead Physio', target='_new', href='http://meadphysiogroup.com.au/')
					img(alt='Mead Physio', src='images/sponsors/mead-physio.png')
			a(title='Nathan Morton MLA', target='_new', href='http://www.wa.liberal.org.au/state/nathanmorton')
					img(alt='Nathan Morton MLA', src='images/sponsors/lib.png')
			a(title='Palace Cleaning', target='_new', href='http://palacecleaning.com.au/')
					img(alt='Palace Cleaning', src='images/sponsors/palace-cleaning.png')
			a(title='prestige poultry', target='_new', href='http://fusc.org.au')
					img(alt='prestige poultry', src='images/sponsors/prestige-poultry.jpg')
			a(title='pro weld', target='_new', href='http://proweldconstructions.com/')
					img(alt='pro weld', src='images/sponsors/pro-weld.png')
			a(title='Sas and Lees', target='_new', href='https://www.facebook.com/Sas-Lees-Hairstylists-134131593339341/')
					img(alt='Sas and Lees', src='images/sponsors/sas_and_lees2.jpg')
			a(title='Schweppes Australia', target='_new', href='http://www.schweppesaustralia.com.au/')
					img(alt='Schweppes Australia', src='images/sponsors/schweppes.png')
			a(title='Scene Signs', target='_new', href='http://www.scenesigns.com.au/')
					img(alt='Scene Signs', src='images/sponsors/scene-signs.png')
			a(title='Tyrone Bricklaying', target='_new', href='http://www.hotfrog.com.au/business/wa/balcatta/tyrone-bricklaying')
					img(alt='Tyrone Bricklaying', src='images/sponsors/tyrone-bricklaying.png')

			//- a(title='fosters group', target='_new', href='https://fostersgroup.com/')
			//- 		img(alt='fosters group', src='images/sponsors/fosters-group.png')
			//- a(title='Crazy Domains', target='_new', href='http://www.crazydomains.com.au/')
			//- 		img(alt='Crazy Domains', src='images/sponsors/crazy-domains.png')
			a(title='Lawsons Commercial Flooring', target='_new', href='http://lawsonscf.com.au/')
					img(alt='Lawsons Commercial Flooring', src='images/sponsors/lawsons-commercial-flooring.png')
			//- a(title='b & l pumps', target='_new', href='http://www.blpumps.com.au/')
			//- 		img(alt='b & l pumps', src='images/sponsors/b_l_pumps.jpg')
			//- a(title='craig mostyn group', target='_new', href='http://www.craigmostyn.com.au/')
			//- 		img(alt='craig mostyn group', src='images/sponsors/craig-mostyn-group.png')
			//- a(title='aerison', target='_new', href='http://www.aerison.com')
			//- 		img(alt='aerison', src='images/sponsors/aerison.png')
			//- a(title='bendigo bank', target='_blank', href='https://www.bendigobank.com.au/')
			//- 		img(alt='bendigo bank', src='images/sponsors/bendigo-bank.svg')
			//- a(title='high wycombe tavern', target='_new', href='http://www.highwycombetavern.com.au/')
			//- 		img(alt='high wycombe tavern', src='images/sponsors/high-wycombe-tavern.png')
			//- a(title='aquasports marine', target='_new', href='http://www.aquasportsmarine.com.au/')
			//- 		img(alt='aquasports marine', src='images/sponsors/aqua-sports-marine.png')


	.container
		.site-footer_logo-wrap
			.site-footer_logo
				img(src="images/logo-fusc-white.svg")

		.site-footer_main
			p.copyright © Copyright 2016 Forrestfield United Soccer Club