footer.site-footer

	aside.site-footer_sponsors
		.container
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_45_partnerlogo_partner_footer.png", alt="Standard Chartered")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_46_partnerlogo_partner_footer.png", alt="New Balance")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_49_partnerlogo_partner_footer.png", alt="Garuda Indonesia")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_50_partnerlogo_partner_footer.png", alt="Carlsberg")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/13/thumb_12993_partnerlogo_partner_footer.png", alt="Vitality")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_52_partnerlogo_partner_footer.png", alt="Jack Wolfskin")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_53_partnerlogo_partner_footer.png", alt="Dunkin Donuts")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_54_partnerlogo_partner_footer.png", alt="Vauxhaul")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_55_partnerlogo_partner_footer.png", alt="Subway")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_56_partnerlogo_partner_footer.png", alt="Nivea")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_57_partnerlogo_partner_footer.png", alt="Sky Sports")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_58_partnerlogo_partner_footer.png", alt="Gatorade")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/13/thumb_12624_partnerlogo_partner_footer.png", alt="Banc de Binary")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_59_partnerlogo_partner_footer.png", alt="MBNA")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_61_partnerlogo_partner_footer.png", alt="Maxxis")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_62_partnerlogo_partner_footer.png", alt="Barbados")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_63_partnerlogo_partner_footer.png", alt="EA Sports")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/01/thumb_64_partnerlogo_partner_footer.png", alt="Konica Minolta")
			//- img(src="http://assets.lfcimages.com/v2/uploads/media/partnerlogo/0001/12/thumb_11874_partnerlogo_partner_footer.png", alt="Claymore Wines")


			a(title='fosters group', target='_new', href='https://fostersgroup.com/')
					img(alt='fosters group', src='images/sponsors/fosters-group.png')
			a(title='prestige poultry', target='_new', href='http://fusc.org.au')
					img(alt='prestige poultry', src='images/sponsors/prestige-poultry.jpg')
			a(title='kelme', target='_new', href='http://www.kelme.com.au/')
					img(alt='kelme', src='images/sponsors/kelme.svg')
			a(title='Crazy Domains', target='_new', href='http://www.crazydomains.com.au/')
					img(alt='Crazy Domains', src='images/sponsors/crazy-domains.png')
			a(title='lawsons commercial flooring', target='_new', href='http://www.whitepages.com.au/business-listing/lawsons-commercial-flooring-1106062/cockburn-central-wa')
					img(alt='lawsons commercial flooring', src='images/sponsors/lawsons-commercial-flooring.png')
			a(title='b & l pumps', target='_new', href='http://www.blpumps.com.au/')
					img(alt='b & l pumps', src='images/sponsors/b_l_pumps.jpg')
			a(title='kalamunda toyota', target='_new', href='http://www.kalamundatoyota.com.au')
					img(alt='kalamunda toyota', src='images/sponsors/kalamunda-toyota.png')
			a(title='jayde transport', target='_new', href='http://www.jayde.com.au/')
					img(alt='jayde transport', src='images/sponsors/jayde-transport.png')
			a(title='craig mostyn group', target='_new', href='http://www.craigmostyn.com.au/')
					img(alt='craig mostyn group', src='images/sponsors/craig-mostyn-group.png')
			a(title='ACS Fabrication', target='_new', href='http://www.acsfabrication.com.au')
					img(alt='ACS Fabrication', src='http://www.acsfabrication.com.au/wp-content/themes/titan/images/logo.png')
			a(title='pro weld', target='_new', href='http://proweldconstructions.com/')
					img(alt='pro weld', src='images/sponsors/pro-weld.png')
			a(title='professionals', target='_new', href='www.professionals.com.au/')
					img(alt='professionals', src='images/sponsors/professionals.jpg')
			a(title='aerison', target='_new', href='http://www.aerison.com')
					img(alt='aerison', src='images/sponsors/aerison.png')
			a(title='bendigo bank', target='_blank', href='https://www.bendigobank.com.au/')
					img(alt='bendigo bank', src='images/sponsors/bendigo-bank.svg')
			a(title='Sas and Lees', target='_new', href='https://www.facebook.com/Sas-Lees-Hairstylists-134131593339341/')
					img(alt='Sas and Lees', src='images/sponsors/sas_and_lees2.jpg')
			a(title='high wycombe tavern', target='_new', href='http://www.highwycombetavern.com.au/')
					img(alt='high wycombe tavern', src='images/sponsors/high-wycombe-tavern.png')
			a(title='aquasports marine', target='_new', href='http://www.aquasportsmarine.com.au/')
					img(alt='aquasports marine', src='images/sponsors/aqua-sports-marine.png')

	.container
		.site-footer_logo-wrap
			.site-footer_logo
				img(src="images/logo-fusc-white.svg")

		.site-footer_main
			p.copyright © Copyright 2016 Forrestfield United Soccer Club