extends ../layouts/main.jade

block headerIncludes

block primaryNav
	+navPrimary(4)

block content
	.article
		.container
			h1.article_title Forrestfield begin preparation for next season
			p.article_date 18/01/2016

		.article_img
			.container
				img(src="content/news-item-2.jpg", alt="")
				p.article_img-caption Photo caption

		.article_body
			.container
				p.article_author Article by Peter Simcox

				p The 2015 All Flags Division Two Champions Forrestfield United have begun their preparation for next season by signing two youngsters from NPL side Inglewood United. Defender Mark Barnett and defensive midfielder Hayden Hodgson have joined the club as they look to hit the ground running in Division One next season. Forrestfield Coach Rod Banjac said the pair has come through the clubs junior set up and it’s great to have them back. “Both Mark and Hayden started their football journey at our club and we’re delighted to have them back under our wing,” he explained. “We are building our structures at the club to ultimately move into the NPL and last season’s Division Two title was just the beginning, and we are looking to start the new Division One season at full speed.”
 
				p Barnett, who had a season at Perth Glory in 2014, and last season at Inglewood, believes Forrestfield are ready to make a move to the NPL and wants to be part of it, and he said after talking to the coach he jumped at the chance to re-join. “The conversation I had with Rod was very in-depth and we talked about my situation and most importantly about the future of Forrestfield and where we want to be next season and beyond,’ he said. “The ultimate goal for Forrestfield United is to be pushing for promotion into the NPL 2017, and in my opinion this is completely achievable and a realistic goal. We have facilities and ground upgrades currently happening, we have a strong youth set up and we have a very strong, formidable 1st team squad raring to go off the back of a fantastic 2015 season.”
 
				p The defender said the spirit the club has is second to none and wanted to be part of it. “I started here as a youngster, and out of all the clubs I’ve been to so far, simply none can match the team spirit and club culture that Forrestfield can provide. I have faith in the clubs’ goals and plans for 2016 and beyond and I believe that I can contribute towards those goals,” Barnett explained. “I’m really excited and very happy to be coming back home and to help Forrestfield into the NPL where we should be.”
 
				p Hodgson came up through the Forrestfield academy, before joining Inglewood, and he is happy to return to the club were it all started for him. “Forrestfield was where it all started for me and where I learnt how to play the game,” he said. “Working with Steve Parry and Andy Burns helped develop my game and I’m looking forward to helping the club to promotion next season. Rod is great coach and he has done an amazing job for the club since his return and I will be doing my best to improve next season.”
 
				p The defender left Hartfield Park to play for Inglewood and has played four seasons at the club, and he thanked them for their help in his development, and believes it will help him next season for Forrestfield. “They (Inglewood) have been a great club to me and I’d like to thank all the coaches I’ve had along the way, which included travelling to Real Valladolid in Spain for a football tour, which was a great experience which further developed me as a player,” he said. “But Rod and the other players have made me feel so welcome, the coaching and training is first class and I can’t wait to help drive the club to further glory.”
 
				p Banjac said the club is looking to improve the professionalism at Hartfield Park, and is looking forward to next season. “We are building towards our final goal, which is the NPL, but we have put plans into place to show the other clubs we are to be considered a serious threat,” he said. “We are representing the Eastern corridor and have worked hard to lift the profile of the club on and off the field, with the full support from the Shire of Kalamunda, and after talks with the local Member of Parliament, there is a real positive vibe that we are heading in the right direction.” 



block footerIncludes
