extends ../layouts/main.jade

block headerIncludes

block primaryNav
	+navPrimary(4)

block content
	.article
		.container
			h1.article_title Forrestfield United win Division Two title
			p.article_date 18/01/2016

		.article_img
			.container
				img(src="content/news-item-1.jpg", alt="")
				p.article_img-caption Photo caption

		.article_body
			.container
				p.article_author Article by Peter Simcox

				p Forrestfield United have won their first All Flags State League Division Two title after a 1-0 win against a ten-man Rockingham City at Lark Hill Sportsplex on Saturday. In front of around 1000 fans, Jordan Hart scored the decisive goal early, with the home side suffering another blow having had keeper Cyril Sharrock sent off on the hour. The win promotes coach Rod Banjac’s side into the All Flags Division One next season, while Rockingham will take on Morley-Windmills in the All Flags State League Promotion and Relegation play-off next week.
 
				p Banjac, who has overseen the clubs rise back up the table, was overjoyed after the game and said his players had been outstanding all season. “This is the end result of two years of dedicated work and credit to the players, coaching staff and many people behind the scenes as well,” he said. “We are a regional club and take football seriously and most importantly we are representing the eastern corridor. “The whole team performed well today, like they have all season and what a way to win it – in front of a big crowd with the two best teams in the league fighting it out for the title, we couldn’t have scripted it any better.”
 
				p Forrestfield skipper Trent Wood said the club has big plans and this is just the start. “It was a tough game today, especially with that wind but we decided to play into it in the first half, and luckily we got the early goal and we never looked back,” he said. “It all positive at the club at the moment, we are upgraded the facilities at our home ground and we want to be pushing for NPL, that’s our goal, and that’s why a lot of our former players came back for, to take the club to where it should be.”
 
				p There was a great atmosphere at kick off with the grandstand packed but it was the visitors who made a perfect start and were ahead on nine minutes. The strong wind was causing both sides problems but a poor back pass was seized upon by Hart and the striker raced into the area, rounded Sharrock, and fired home into an empty net to set off wild celebrations among the travelling supporters.
 
				p Rockingham hit back and Shane Boyle wriggled his way into the box but his shot from the angle was saved low by Ben Parry. Forrestfield almost added a second on the quarter hour. Rhys Loxley’s corner was cleared off the line by Christian Hogge. Both sides had chances before the break. First Sharrock saved superbly to deny Matt Harold’s header, then in stoppage time Rockingham midfielder Alex Grayson’s snap shot crashed off the post and away to safety at the other end.
 
				p Rockingham were out of the blocks early in the second half and Ryan Hazlett’s cross shot was well claimed by Parry. But the home side received a blow on 54 minutes when they were reduced to ten men. A ball over the top sent Hart racing clear, and Sharrock came out to clear the ball, but brought the striker down, and referee Nico Hoyle had no other choice but to send the Rockingham custodian off. Boyle was the unlucky player to come off with Kieran Shail taking his place between the sticks for the home side.
 
				p It was a real thriller with both sides pushing forward, but both sets of defenders repelled everything that was thrown against them. The new keeper was beaten on 75 minutes but Matt Harold’s powerful shot flicked the outside of a post. To their credit Rockingham continued to take the game to Forrestfield and almost grabbed an equaliser five minutes later. Ryan Kennedy’s free kick on the right missed everyone in the box, and to the relief of the Forrestfield keeper it drifted inches past the far post.
 
				p Rockingham City 0
					| Forrestfield United 1 (Hart 9 Mins)
					| Saturday September 26 2015
					| Lark Hill Sportsplex, Port Kennedy
					| Referee: Nico Hoyle
					| Assistants: Anthony Walsh and Stuart Blacker
 
				p Rockingham City: GK Cyril SHARROCK, 2 Fraser MARR, 3 Max SNELSON, 4 Sean BRADY, 5 Lynden HOOSKISS, 6 Roy HISSEY, 7 Ryan KENNEDY, 8 Alex GRAYSON, 9 Shane BOYLE (RGK Kieran SHAIL 55’), 10 Christian HOGGE, 11 Paul LARVIN (13 Ryan HAZLETT 15’) (14 Gershom ROWLAND 64’)
					| Subs not used: 12 Calum ROTHWELL, 15 Jack OWEN
					| Yellow Cards: Hogge 29’, Grayson 53’, Hissey 62’, Kennedy 69’
					| Red Cards: Sharrock 54’
 
				p Forrestfield United: GK Ben PARRY, 3 Trent WOOD, 4 Jamie DUNCAN, 6 Matt HAROLD (5 Chris PERROTT 86’), 7 Jason GODFREY, 9 Rhys LOXLEY, 10 Jordan HART (11 Ben ROGERS 61’), 12 Kaan KARACAN, 13 Scott BARKER, 15 Nathan WATKINS, 16 Linden PYWELL (8 Andy HAROLD 73’)
					| Subs not used: 2 Will TSHABANGU, 14 Davide FERRANTE
					| Yellow Cards: Nil



block footerIncludes
