extends ../layouts/main.jade

block headerIncludes

block primaryNav
	+navPrimary(4)

block content
	.article
		.container
			h1.article_title 2016 Night Series fixtures
			p.article_date 18/01/2016

		.article_img
			.container
				img(src="content/news-item-3.jpg", alt="")
				p.article_img-caption Photo caption

		.article_body
			.container
				p.article_author Article by Peter Simcox

				p Forrestfield United will kick off their night series on Friday 5 February 2016 against Western Knights, 8.30pm at Hartfield Park.
				p Valentine's Day is taken care of in 2016!! Take your better half down to Hartfield Park on Sunday 14 February for a 7.00pm kick off against Swan United.
				p The group stage is finalised with the visit of Curtin University to our home on Friday 19 February, 6.30pm KO.
				p The top team from the six groups plus the next best two will advance to the quarter finals.
				p Group E games featuring Dianella, Ellenbrook, Morley Windmills and Shamrock Rovers will also be played at Hartfield Park on 6, 13 & 21 February.
				p State League Night Series Groups:
				p Group A: Wanneroo City, Joondalup United, Quinns FC, UWA-Nedlands FC
				p Group B: Ashfield, Kingsway Olympic, Balga, Joondalup City
				p Group C: Rockingham City, Gosnells City, Fremantle City, Canning City
				p Group D: Forrestfield United, Swan United, Curtin University, Western Knights
				p Group E: Morley-Windmills, Ellenbrook United, Dianella White Eagles, Shamrock Rovers
				p Group F: South West Phoenix, Mandurah City, Melville City, Kelmscott Roos



block footerIncludes
