extends ../layouts/main.jade

block headerIncludes

block primaryNav
	+navPrimary(4)

block content
	.article
		.container
			h1.article_title Forrestfield United Masters
			p.article_date 18/01/2016

		.article_img
			.container
				img(src="content/news-item-4.jpg", alt="")
				p.article_img-caption Photo caption

		.article_body
			.container
				p.article_author Article by Peter Simcox

				p FUSC Masters Premier League and SDV3 squads will commence training on Thursday 11/2/16 7pm at Hartfield Park. New players are welcome to attend as we look to strengthen our squads. Following our promotion we are the only Premier league masters in the eastern corridor and are optimistic for another good season. Come and join one of the best clubs in Perth.
				p Contacts Julian. 0478912623 or Justin 0401050580



block footerIncludes
