extends ../layouts/main.jade

block headerIncludes

block primaryNav
	+navPrimary(6)

block content
	+page-head('Sponsors')

	.container
		.sponsor-wall
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Fosters group', target='_new', href='https://fostersgroup.com/')
					span.sponsor-wall_sponsor-title Fosters group
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Fosters group', src='images/sponsors/fosters-group.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='prestige poultry', target='_new', href='http://fusc.org.au')
					span.sponsor-wall_sponsor-title Prestige poultry
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Prestige poultry', src='images/sponsors/prestige-poultry.jpg')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Kelme', target='_new', href='http://www.kelme.com.au/')
					span.sponsor-wall_sponsor-title Kelme
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Kelme', src='images/sponsors/kelme.svg')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Crazy Domains', target='_new', href='http://www.crazydomains.com.au/')
					span.sponsor-wall_sponsor-title Crazy domains
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Crazy Domains', src='images/sponsors/crazy-domains.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='lawsons commercial flooring', target='_new', href='http://www.whitepages.com.au/business-listing/lawsons-commercial-flooring-1106062/cockburn-central-wa')
					span.sponsor-wall_sponsor-title Lwasons commercial flooring
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='lawsons commercial flooring', src='images/sponsors/lawsons-commercial-flooring.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='b & l pumps', target='_new', href='http://www.blpumps.com.au/')
					span.sponsor-wall_sponsor-title B L Pumps
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='b & l pumps', src='images/sponsors/b_l_pumps.jpg')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='kalamunda toyota', target='_new', href='http://www.kalamundatoyota.com.au')
					span.sponsor-wall_sponsor-title Kalamunda toyota
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='kalamunda toyota', src='images/sponsors/kalamunda-toyota.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='jayde transport', target='_new', href='http://www.jayde.com.au/')
					span.sponsor-wall_sponsor-title Jayde transport
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='jayde transport', src='images/sponsors/jayde-transport.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='craig mostyn group', target='_new', href='http://www.craigmostyn.com.au/')
					span.sponsor-wall_sponsor-title Graig mostyn group
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='craig mostyn group', src='images/sponsors/craig-mostyn-group.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='ACS Fabrication', target='_new', href='http://www.acsfabrication.com.au')
					span.sponsor-wall_sponsor-title ACS Fabrication
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='ACS Fabrication', src='images/sponsors/acs.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='pro weld', target='_new', href='http://proweldconstructions.com/')
					span.sponsor-wall_sponsor-title Pro weld
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='pro weld', src='images/sponsors/pro-weld.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='professionals', target='_new', href='www.professionals.com.au/')
					span.sponsor-wall_sponsor-title Professionals
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='professionals', src='images/sponsors/professionals.jpg')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='aerison', target='_new', href='http://www.aerison.com')
					span.sponsor-wall_sponsor-title Aerison
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='aerison', src='images/sponsors/aerison.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='bendigo bank', target='_blank', href='https://www.bendigobank.com.au/')
					span.sponsor-wall_sponsor-title Bendigo bank
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='bendigo bank', src='images/sponsors/bendigo-bank.svg')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Sas and Lees', target='_new', href='https://www.facebook.com/Sas-Lees-Hairstylists-134131593339341/')
					span.sponsor-wall_sponsor-title Sas and lees
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Sas and Lees', src='images/sponsors/sas_and_lees2.jpg')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='high wycombe tavern', target='_new', href='http://www.highwycombetavern.com.au/')
					span.sponsor-wall_sponsor-title High wycombe tavern
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='high wycombe tavern', src='images/sponsors/high-wycombe-tavern.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='aquasports marine', target='_new', href='http://www.aquasportsmarine.com.au/')
					span.sponsor-wall_sponsor-title Aquasports marine
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='aquasports marine', src='images/sponsors/aqua-sports-marine.png')




block footerIncludes
