extends ../layouts/main.jade

block headerIncludes

block primaryNav
	+navPrimary(6)

block content
	+page-head('Sponsors')

	.container
		.sponsor-wall
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='ACS Fabrication', target='_new', href='http://www.acsfabrication.com.au')
					span.sponsor-wall_sponsor-title ACS Fabrication
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='ACS Fabrication', src='images/sponsors/acs.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Caledonia Scaffolding', target='_new', href='http://www.caledoniascaffolding.com.au/')
					span.sponsor-wall_sponsor-title Caledonia Scaffolding
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Caledonia Scaffolding', src='images/sponsors/caledonia-scaffolding.svg')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Carlton United Breweries', target='_new', href='http://cub.com.au/')
					span.sponsor-wall_sponsor-title Carlton United Breweries
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Carlton United Breweries', src='images/sponsors/cub.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Department of Sport & Rec | Shire of Kal', target='_new', href='http://www.dsr.wa.gov.au/')
					span.sponsor-wall_sponsor-title Department of Sport &amp; Rec
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Department of Sport & Rec', src='images/sponsors/dsr.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Healthway | Healthy Club', target='_new', href='https://www.healthway.wa.gov.au/healthy-club/')
					span.sponsor-wall_sponsor-title Healthway | Healthy Club
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Healthway | Healthy Club', src='images/sponsors/healthway.svg')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Hills Massage', target='_new', href='http://www.hillsmassage.com.au/')
					span.sponsor-wall_sponsor-title Hills Massage
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Hills Massage', src='images/sponsors/hills-massage.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Jayde Transport', target='_new', href='http://www.jayde.com.au/')
					span.sponsor-wall_sponsor-title Jayde Transport
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Jayde Transport', src='images/sponsors/jayde-transport.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Kalamunda Toyota', target='_new', href='http://www.kalamundatoyota.com.au')
					span.sponsor-wall_sponsor-title Kalamunda Toyota
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Kalamunda Toyota', src='images/sponsors/kalamunda-toyota.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Kelme', target='_new', href='http://www.kelme.com.au/')
					span.sponsor-wall_sponsor-title Kelme
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='kelme', src='images/sponsors/kelme.svg')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Lawsosn Commercial Flooring', target='_new', href='http://lawsonscf.com.au/')
					span.sponsor-wall_sponsor-title Lawsosn Commercial Flooring
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Lawsosn Commercial Flooring', src='images/sponsors/lawsons-commercial-flooring.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Marilyn Way | Professionals', target='_new', href='http://www.stirlingclark.com.au/real-estate/profile/116790/marilyn-way/')
					span.sponsor-wall_sponsor-title Marilyn Way | Professionals
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='professionals', src='images/sponsors/professionals.jpg')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Masonmill Restaurant', target='_new', href='http://www.masonmillgardens.com.au/')
					span.sponsor-wall_sponsor-title Masonmill Restaurant
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Masonmill Restaurant', src='images/sponsors/masnonmill.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Mead Physio', target='_new', href='http://meadphysiogroup.com.au/')
					span.sponsor-wall_sponsor-title Mead Physio
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Mead Physio', src='images/sponsors/mead-physio.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Nathan Morton MLA', target='_new', href='http://www.wa.liberal.org.au/state/nathanmorton')
					span.sponsor-wall_sponsor-title Nathan Morton MLA
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Nathan Morton MLA', src='images/sponsors/lib.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Palace Cleaning', target='_new', href='http://palacecleaning.com.au/')
					span.sponsor-wall_sponsor-title Palace Cleaning
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Palace Cleaning', src='images/sponsors/palace-cleaning.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Prestige Poultry', target='_new', href='http://fusc.org.au')
					span.sponsor-wall_sponsor-title ACS Prestige Poultry
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Prestige Poultry', src='images/sponsors/prestige-poultry.jpg')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Pro Weld', target='_new', href='http://proweldconstructions.com/')
					span.sponsor-wall_sponsor-title Pro Weld
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Pro Weld', src='images/sponsors/pro-weld.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Sas and Lees', target='_new', href='https://www.facebook.com/Sas-Lees-Hairstylists-134131593339341/')
					span.sponsor-wall_sponsor-title Sas and Lees
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Sas and Lees', src='images/sponsors/sas_and_lees2.jpg')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Schweppes Australia', target='_new', href='http://www.schweppesaustralia.com.au/')
					span.sponsor-wall_sponsor-title Schweppes Australia
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Schweppes Australia', src='images/sponsors/schweppes.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Scene Signs', target='_new', href='http://www.scenesigns.com.au/')
					span.sponsor-wall_sponsor-title Scene Signs
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Scene Signs', src='images/sponsors/scene-signs.png')
			.sponsor-wall_col
				a.sponsor-wall_sponsor(title='Tyrone Bricklaying', target='_new', href='http://www.hotfrog.com.au/business/wa/balcatta/tyrone-bricklaying')
					span.sponsor-wall_sponsor-title Tyrone Bricklaying
					span.sponsor-wall_sponsor-body
						img.sponsor-wall_sponsor-img(alt='Tyrone Bricklaying', src='images/sponsors/tyrone-bricklaying.png')




block footerIncludes
