extends ../layouts/main.jade

block headerIncludes

block primaryNav
	+navPrimary(5)

block content
	+page-head('Teams')

	.page-contents
		.container
			h2 Football West Saturday teams
			.row
				.col-sm-4
					+btn('First team', 'teams-first.html')(class="-block")
				.col-sm-4
					+btn('Under 21\'s')(class="-block")
				.col-sm-4
					+btn('Under 18\'s')(class="-block")
			h2 Academy
			h2 Amateurs
			h2 Juniors
			h2 Ladies
			h2 Social/Vets 





block footerIncludes
