extends ../layouts/main.jade

block headerIncludes

block primaryNav
	+navPrimary(5)

block content
	+page-head('First team')

	.page-contents
		.container.team-list
			.row
				.col-sm-3
					p.team-list_title Management
					ul.team-list_players
						li
							a(href="player.html") Jose Mourinho
						li
							a(href="player.html") Assistant coach
			.row
				.col-sm-3
					p.team-list_title Goalkeepers
					ul.team-list_players
						li
							a(href="player.html") Manuel Neuer
						li
							a(href="player.html") Goalkeeper 2
						li
							a(href="player.html") Goalkeeper 3
				.col-sm-3
					p.team-list_title Defenders
					ul.team-list_players
						li
							a(href="player.html") Sergio Ramos
						li
							a(href="player.html") Defender 2
						li
							a(href="player.html") Defender 3
						li
							a(href="player.html") Defender 4
						li
							a(href="player.html") Defender 5
						li
							a(href="player.html") Defender 6
				.col-sm-3
					p.team-list_title Midfielders
					ul.team-list_players
						li
							a(href="player.html") Lionel Messi
						li
							a(href="player.html") Midfielder 2
						li
							a(href="player.html") Midfielder 3
						li
							a(href="player.html") Midfielder 4
						li
							a(href="player.html") Midfielder 5
						li
							a(href="player.html") Midfielder 6
						li
							a(href="player.html") Midfielder 7
						li
							a(href="player.html") Midfielder 8
				.col-sm-3
					p.team-list_title Strikers
					ul.team-list_players
						li
							a(href="player.html") Jaime Vardy
						li
							a(href="player.html") Striker 2
						li
							a(href="player.html") Striker 3
						li
							a(href="player.html") Striker 4





block footerIncludes
