extends ../layouts/main.jade

block headerIncludes

block primaryNav
	+navPrimary(5)

block content
	+page-head('First team')

	.page-contents
		.container
			.row
				.col-sm-3
					p.h4 Goalkeepers
					ul
						li
							a(href="#") Goalkeeper 1
						li
							a(href="#") Goalkeeper 2
						li
							a(href="#") Goalkeeper 3
				.col-sm-3
					p.h4 Defenders
					ul
						li
							a(href="#") Defender 1
						li
							a(href="#") Defender 2
						li
							a(href="#") Defender 3
						li
							a(href="#") Defender 4
						li
							a(href="#") Defender 5
						li
							a(href="#") Defender 6
				.col-sm-3
					p.h4 Midfielders
					ul
						li
							a(href="#") Midfielder 1
						li
							a(href="#") Midfielder 2
						li
							a(href="#") Midfielder 3
						li
							a(href="#") Midfielder 4
						li
							a(href="#") Midfielder 5
						li
							a(href="#") Midfielder 6
						li
							a(href="#") Midfielder 7
						li
							a(href="#") Midfielder 8
				.col-sm-3
					p.h4 Strikers
					ul
						li
							a(href="#") Striker 1
						li
							a(href="#") Striker 2
						li
							a(href="#") Striker 3
						li
							a(href="#") Striker 4





block footerIncludes
